div#list-view(ng-controller="ListController as list")
  h1 Todo List

  div.content-inner
    table.pure-table
      thead
        tr
          th #
          th Content
          th Created at
          th Delete

      tbody
        tr(ng-repeat="item in list.items")
          td {{ $index + 1 }}
          td {{ item.content }}
          td {{ item.createdAt |date:'yyyy/MM/dd HH:mm' }}
          td
            button.pure-button.button-warning(ng-click="list.delete($index)") Delete
      
      tfoot
        tr
          td {{ list.items.length + 1 }}
          td(colspan="2")
            input.new-content(type="text", ng-model="list.content", ng-keypress="list.add($event)", ng-focus-on-change="list.focus")
          td
            button.pure-button.pure-button-primary(ng-click="list.add($event)") Add

