doctype html
html(lang="ja", ng-app="todo", ng-strict-di)
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="//yui.yahooapis.com/pure/0.6.0/pure-min.css")
    link(rel="stylesheet", href="bundle.css")
    title AngularJS Todo App
  
  body
    include layout/header.jade
    
    div.content
      div.pure-g
        div.pure-u-1(ui-view)
    
    include layout/footer.jade
    script(src="bundle.js")
