div.footer
  div.pure-g
    div.pure-u-1
      p (C) 2015 Pine Mizune.
      p Powered by&nbsp;
        a(href="https://angularjs.org/") AngularJS
        | ,&nbsp;
        a(href="http://purecss.io/") Pure
