div.header
  div.pure-menu.pure-menu-horizontal.pure-menu-fixed
    a.pure-menu-heading(href="/") AngularJS Todo App

    ul.pure-menu-list
      li.pure-menu-item
        a.pure-menu-link(ui-sref="list") Index