div.header
  div.pure-menu.pure-menu-horizontal.pure-menu-fixed
    a.pure-menu-heading(href="/") AngularJS Todo App

    ul.pure-menu-list
      li.pure-menu-item.pure-menu-item-selected
        a.pure-menu-link(ui-sref="list") Index
      
      li.pure-menu-item
        a.pure-menu-link(href="https://github.com/pine613/ng-todo-app") GitHub